html {
  font-size: 62.5%;
  font-family: 'Noto Sans', sans-serif;
}
body {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fcfffc;
  font-size: 2rem;
}
@media (max-width: 500px) {
  body {
    width: 460px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
h1,
h2,
h3,
h4,
h5 {
  color: #fcfffc;
}
a {
  font-size: 2rem;
  font-weight: bold;
  color: #6a7fdb;
  text-decoration: none;
}
a:hover {
  color: #9b9ece;
}
.button {
  background-color: #6a7fdb;
  border-radius: 8px;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
}
@media (max-width: 500px) {
  .button {
    width: 430px;
  }
}
.button:hover {
  background-color: #fcfffc;
  border: 2px solid #6a7fdb;
  padding: 3px 13px;
}
.button2 {
  background-color: #6a7fdb;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}
.button2:hover {
  background-color: #fcfffc;
  border: 2px solid #6a7fdb;
  padding: 13px 30px;
}
p {
  color: #fcfffc;
}
.smallNav {
  width: 1000px;
  background-color: #fcfffc;
  display: flex;
  flex-direction: row;
}
@media (max-width: 500px) {
  .smallNav {
    width: 460px;
    flex-wrap: wrap;
  }
}
.smallNav .potluck-title {
  width: 300px;
  height: 64px;
  margin-right: 50px;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .smallNav .potluck-title {
    margin-left: 30px;
  }
}
nav {
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 500px) {
  nav {
    width: 460px;
    flex-direction: column;
    margin-top: 10px;
    margin-left: -12px;
    margin-bottom: 10px;
  }
}
nav a {
  justify-content: space-around;
  width: 60px;
}
@media (max-width: 500px) {
  nav a {
    width: 420px;
    font-size: 3rem;
    border-radius: 8px;
    margin-bottom: 10px;
    border: 2px solid #040f0f;
  }
}
@media (max-width: 500px) {
  nav a:hover {
    color: #6a7fdb;
    border: 2px solid #6a7fdb;
  }
}
footer {
  width: 1000px;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
@media (max-width: 500px) {
  footer {
    width: 460px;
  }
}
h6 {
  background-color: #9b9ece;
  border-radius: 8px;
  font-size: 1.4rem;
  text-align: center;
  color: #fcfffc;
  padding: 20px;
}
.hero {
  margin-top: 40px;
  width: 1000px;
  height: 363px;
  border-radius: 8px;
  background-image: url("../img/potluck-spread-new.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .hero {
    margin-top: 0;
    width: 460px;
    height: 166px;
    background-image: url("../img/potluck-spread-new-mobile.jpg");
  }
}
.hero .features {
  color: #fcfffc;
  font-size: 6rem;
  text-align: center;
}
.features {
  width: 100%;
}
.features .features-contents {
  height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.features .features-content {
  display: none;
  width: 90%;
}
.features .features-content .features-content-title {
  font-size: 2.4em;
  font-weight: bold;
  padding-bottom: 10px;
}
.features .features-content-selected {
  display: block;
}
.features .features-tabs {
  display: flex;
  background-color: #6a7fdb;
}
.features .features-tab {
  padding: 20px 25px;
  font-size: 24px;
  background-color: #6a7fdb;
  border-right: 1px solid white;
  color: #fcfffc;
  cursor: pointer;
}
.features .features-tab:hover {
  background-color: #9b9ece;
}
.features .features-tab-selected {
  z-index: 2;
  border-right: 1px solid #6a7fdb;
  background-color: white;
  color: black;
}
.features .features-tab-selected:hover {
  background-color: white;
}
.bios {
  width: 100%;
}
.bios .bios-contents {
  height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.bios .bios-content {
  display: none;
  width: 90%;
}
.bios .bios-content .bios-content-title {
  font-size: 2.4em;
  font-weight: bold;
  padding-bottom: 10px;
}
.bios .bios-content-selected {
  display: block;
}
.bios .bios-tabs {
  display: flex;
  background-color: #6a7fdb;
}
.bios .bios-tab {
  padding: 20px 25px;
  font-size: 24px;
  background-color: #6a7fdb;
  border-right: 1px solid white;
  color: #fcfffc;
  cursor: pointer;
}
.bios .bios-tab:hover {
  background-color: #9b9ece;
}
.bios .bios-tab-selected {
  z-index: 2;
  border-right: 1px solid #6a7fdb;
  background-color: white;
  color: black;
}
.bios .bios-tab-selected:hover {
  background-color: white;
}
.home {
  width: 960px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #9b9ece;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}
@media (max-width: 500px) {
  .home {
    margin-top: 0;
    width: 420px;
    flex-direction: column;
    text-align: center;
  }
}
.home .textbox1 .signUp {
  width: 200px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .home .textbox1 .signUp {
    margin-right: 0;
    justify-content: space-between;
    height: 100px;
  }
}
.home .brunch {
  width: 400px;
  margin-right: 20px;
  border-radius: 8px;
}
@media (max-width: 500px) {
  .home .brunch {
    width: 100%;
    margin-right: 0;
  }
}
.container-2 {
  width: 960px;
  margin-bottom: 40px;
  background-color: #9b9ece;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}
@media (max-width: 500px) {
  .container-2 {
    width: 420px;
    flex-direction: column-reverse;
    text-align: center;
  }
}
.container-2 .littlefam {
  width: 400px;
  margin-left: 20px;
  border-radius: 8px;
}
@media (max-width: 500px) {
  .container-2 .littlefam {
    width: 100%;
    margin-left: 0;
  }
}
