html {
  font-size: 62.5%;
}
@media (max-width: 500px) {
  html {
    width: 460px;
    margin-left: 20px;
  }
}
body {
  background-color: #fcfffc;
  font-size: 2rem;
}
header {
  width: 100%;
  background-color: #acadbc;
}
