html {
  font-size: 62.5%;
  font-family: 'Noto Sans', sans-serif;
}
body {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fcfffc;
  font-size: 2rem;
}
@media (max-width: 500px) {
  body {
    width: 460px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
h1,
h2,
h3,
h4,
h5 {
  color: #fcfffc;
}
.button {
  background-color: #9b9ece;
  border-radius: 8px;
  width: 200px;
  height: 100px;
  font-size: 4rem;
  font-weight: bold;
  color: #fcfffc;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (max-width: 500px) {
  .button {
    flex-direction: column;
    width: 160px;
    height: 80px;
  }
}
.button:hover {
  color: #6a7fdb;
  background-color: #fcfffc;
}
.button2 {
  background-color: #6a7fdb;
  border-radius: 8px;
  font-weight: bold;
  color: #fcfffc;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}
.button2:hover {
  background-color: #fcfffc;
  color: #6a7fdb;
  border: 2px solid #6a7fdb;
  padding: 13px 30px;
}
p {
  color: #fcfffc;
}
.smallNav {
  width: 1000px;
  background-color: #fcfffc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .smallNav {
    width: 460px;
    flex-wrap: wrap;
  }
}
.smallNav .potluck-title {
  width: 300px;
  height: 64px;
  margin-right: 50px;
}
@media (max-width: 500px) {
  .smallNav .potluck-title {
    margin-left: 70px;
  }
}
nav {
  width: 300px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 500px) {
  nav {
    width: 460px;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
nav a {
  font-size: 2rem;
  font-weight: bold;
  color: #040f0f;
  text-decoration: none;
  justify-content: space-around;
}
@media (max-width: 500px) {
  nav a {
    text-align: center;
    width: 455px;
    font-size: 3rem;
    border-radius: 8px;
    margin-bottom: 10px;
    border: 2px solid #040f0f;
  }
}
nav a:hover {
  color: #6a7fdb;
}
@media (max-width: 500px) {
  nav a:hover {
    border: 2px solid #6a7fdb;
  }
}
footer {
  width: 1000px;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
@media (max-width: 500px) {
  footer {
    width: 460px;
  }
}
h6 {
  background-color: #9b9ece;
  border-radius: 8px;
  font-size: 1.4rem;
  text-align: center;
  color: #040f0f;
  padding: 20px;
}
.hero {
  margin-top: 40px;
  margin-bottom: 30px;
  width: 1000px;
  height: 363px;
  border-radius: 8px;
  background-image: url("../img/potluck-spread-new.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .hero {
    margin-top: 0;
    width: 460px;
    height: 166px;
    background-image: url("../img/potluck-spread-new-mobile.jpg");
  }
}
.hero .features {
  color: #fcfffc;
  font-size: 10rem;
  text-shadow: 5px 5px 10px #040f0f;
  text-align: center;
}
@media (max-width: 500px) {
  .hero .features {
    font-size: 5rem;
  }
}
.features {
  width: 100%;
}
.features .features-contents {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0 0 40px;
}
.features .features-content {
  display: none;
  width: 100%;
  box-shadow: 0 0 5px #888;
  padding: 20px;
  padding-bottom: 40px;
  border: 2px solid #6a7fdb;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  align-items: center;
}
.features .features-content .features-content-title {
  font-size: 2.4em;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  width: 100%;
}
.features .features-content img {
  border-radius: 8px;
}
.features .features-content .features-content-text {
  width: 50%;
}
@media (max-width: 500px) {
  .features .features-content .features-content-text {
    width: 75%;
    padding-top: 20px;
  }
}
.features .features-content-selected {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top: none;
}
.features .features-tabs {
  display: flex;
}
.features-tab {
  clip-path: polygon(76% 20%, 93% 35%, 100% 38%, 100% 70%, 100% 100%, 0 100%, 0 66%, 0% 14%, 62% 14%, 70% 15%);
  padding: 20px 25px;
  font-size: 1em;
  text-align: left;
  width: 100%;
  background-color: #6a7fdb;
  color: #fcfffc;
  cursor: pointer;
  box-shadow: 0 0 5px #888;
  border-bottom: 2px solid #6a7fdb;
}
@media (max-width: 500px) {
  .features-tab {
    width: 25%;
    padding: 20px 15px;
  }
}
.features-tab:hover {
  background-color: #9b9ece;
  border-bottom: 2px solid #9b9ece;
  box-shadow: 0 5px 0 #fff, 0 0 5px #888;
}
.features-tab .features-tab-selected {
  z-index: 2;
  background-color: #9b9ece;
  color: black;
  border: none;
}
.features-tab .features-tab-selected:hover {
  background-color: #9b9ece;
}
.about-banner {
  margin-top: 40px;
  margin-bottom: 30px;
  width: 1000px;
  height: 363px;
  border-radius: 8px;
  background-image: url("../img/ian-schneider-TamMbr4okv4-unsplash.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .about-banner {
    margin-top: 0;
    margin-bottom: 20px;
    width: 460px;
    height: 166px;
    background-image: url("../img/ian-schneider-TamMbr4okv4-unsplash-mobile.jpg");
    background-size: scale-down;
  }
}
.about-banner h1 {
  font-size: 10rem;
  text-shadow: 5px 5px 10px #040f0f;
}
@media (max-width: 500px) {
  .about-banner h1 {
    font-size: 5rem;
  }
}
.bios {
  width: 100%;
}
.bios .bios-contents {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0 0 40px;
}
.bios .bios-content {
  display: none;
  width: 100%;
  box-shadow: 0 0 5px #888;
  padding: 20px;
  padding-bottom: 40px;
  border: 2px solid #6a7fdb;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  align-items: center;
}
.bios .bios-content .bios-content-title {
  font-size: 2.4em;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  width: 100%;
}
.bios .bios-content img {
  border-radius: 8px;
  height: 250px;
  width: auto;
}
.bios .bios-content .bios-content-text {
  width: 50%;
}
@media (max-width: 500px) {
  .bios .bios-content .bios-content-text {
    width: 75%;
    padding-top: 20px;
  }
}
.bios .bios-content-selected {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top: none;
}
.bios .bios-tabs {
  display: flex;
}
.bios-tab {
  clip-path: polygon(76% 20%, 93% 35%, 100% 38%, 100% 70%, 100% 100%, 0 100%, 0 66%, 0% 14%, 62% 14%, 70% 15%);
  padding: 20px 15px;
  font-size: 1em;
  text-align: left;
  width: 100%;
  background-color: #6a7fdb;
  color: #fcfffc;
  cursor: pointer;
  box-shadow: 0 0 5px #888;
  border-bottom: 2px solid #6a7fdb;
}
@media (max-width: 500px) {
  .bios-tab {
    width: 16.6%;
    padding: 20px 3px;
    font-size: 1.2rem;
  }
}
.bios-tab:hover {
  background-color: #9b9ece;
  border-bottom: 2px solid #9b9ece;
  box-shadow: 0 5px 0 #fff, 0 0 5px #888;
}
.bios-tab .bios-tab-selected {
  z-index: 2;
  background-color: #9b9ece;
  color: black;
  border: none;
}
.bios-tab .bios-tab-selected:hover {
  background-color: #9b9ece;
}
.home {
  width: 960px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #6a7fdb;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}
@media (max-width: 500px) {
  .home {
    margin-top: 0;
    width: 420px;
    flex-direction: column;
  }
}
.home .textbox1 h1 {
  text-align: center;
}
.home .textbox1 .signUp {
  width: 520px;
  height: 160px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .home .textbox1 .signUp {
    width: 420px;
    height: 100px;
    margin-right: 0;
    justify-content: space-between;
  }
}
.home .brunch {
  width: 400px;
  margin-right: 20px;
  border-radius: 8px;
}
@media (max-width: 500px) {
  .home .brunch {
    width: 100%;
    margin-right: 0;
  }
}
.container-2 {
  width: 960px;
  margin-bottom: 40px;
  background-color: #6a7fdb;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}
@media (max-width: 500px) {
  .container-2 {
    width: 420px;
    flex-direction: column-reverse;
    text-align: center;
  }
}
.container-2 .textbox2 {
  text-align: center;
}
.container-2 .littlefam {
  width: 400px;
  margin-left: 20px;
  border-radius: 8px;
}
@media (max-width: 500px) {
  .container-2 .littlefam {
    width: 100%;
    margin-left: 0;
  }
}
