.hero {
    margin-top: 40px;
    width: 1000px;
    height: 363px;
    border-radius: 8px;
    background-image: url("../img/potluck-spread-new.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    @media @mobile {
      margin-top: 0;
      width: 460px;
      height: 166px;
      background-image: url("../img/potluck-spread-new-mobile.jpg");
    }
    .features {
      color: @main-bg;
      font-size: 10rem;
      text-shadow: 5px 5px 10px @font-color;
      text-align: center;
      @media @mobile {
        font-size: 5rem;
      }
    }
}
//tabs

.features{
    width: 100%;

   .features-contents{
    height: 300px;
    display: flex;
    justify-content: center;
    padding-top: 60px;
   }

.features-content{
    display: none;
    width: 90%;

    .features-content-title{
        font-size: 2.4em;
        font-weight: bold;
        padding-bottom: 10px;
    }


}

.features-content-selected{
    display: block;
}

.features-tabs{
    display: flex;
    
}
}

.features-tab{
    clip-path: polygon(76% 20%, 93% 35%, 100% 38%, 100% 70%, 100% 100%, 0 100%, 0 66%, 0% 14%, 62% 14%, 70% 15%);
    padding: 20px 25px;
    font-size: 24px;
    background-color: @indigo;
    border: 1px solid white;
    color: @white;
    cursor: pointer;
    &:hover {
      background-color: @lavender;
      
}
.features-tab-selected {
    z-index:2;
    border-right: 1px solid @indigo;
    background-color: white;
    color: black;
    &:hover {
        background-color: white;
    }
}
}
