.smallNav {
  width: 1000px;
  background-color: @main-bg;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media @mobile {
    width: 460px;
    flex-wrap: wrap;
  }
  .potluck-title {
    width: 300px;
    height: 64px;
    margin-right: 50px;
    @media @mobile {
      margin-left: 70px;
    }
  }
}
