.home {
  width: 960px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: @footer-bg;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid blue;
  display: flex;
  flex-direction: row;

  .textbox1 {
    h1 {
    }
    p {
    }
  }
  .brunch {
    width: 400px;
    margin-right: 20px;
    border-radius: 8px;
  }
}

.container-2 {
  width: 960px;
  margin-bottom: 40px;
  background-color: @footer-bg;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid blue;
  display: flex;
  flex-direction: row;
  .textbox2 {

    h1 {
      border: 2px solid red;

    }
    p {
      border: 2px solid red;
    }
  }
  .littlefam {
    width: 400px;
    margin-left: 20px;
    border-radius: 8px;
  }
}
