.home {
  width: 960px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: @h1-color;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
    @media @mobile {
      margin-top: 0;
      width: 420px;
      flex-direction: column;
    }
  .textbox1 {
    h1 {
      text-align: center;
    }
    .signUp {
      width: 520px;
      height: 160px;
      margin-right: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      @media @mobile {
        width: 420px;
        height: 100px;
        margin-right: 0;
        justify-content: space-between;
      }
    }
  }
  .brunch {
    width: 400px;
    margin-right: 20px;
    border-radius: 8px;
    @media @mobile {
      width: 100%;
      margin-right: 0;
    }
  }
}

.container-2 {
  width: 960px;
  margin-bottom: 40px;
  background-color: @h1-color;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  @media @mobile {
    width: 420px;
    flex-direction: column-reverse;
    text-align: center;
  }
  .textbox2 {
    text-align: center;
  }
  .littlefam {
    width: 400px;
    margin-left: 20px;
    border-radius: 8px;
    @media @mobile {
      width: 100%;
      margin-left: 0;
    }
  }
}
