nav {
  width: 300px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  @media @mobile {
    width: 460px;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  a {
    font-size: 2rem;
    font-weight: bold;
    color: @font-color;
    text-decoration: none;
    justify-content: space-around;
    @media @mobile {
      text-align: center;
      width: 455px;
      font-size: 3rem;
      border-radius: 8px;
      margin-bottom: 10px;
      border: 2px solid @font-color;
    }
  }
  a:hover {
    color: @footer-bg;
    @media @mobile {
      border: 2px solid @footer-bg;
    }
  }
}
